.box1{
    background-color: #070a1f; 
    height: 110px;
}
.box2{
    background-color: #0f153f;
    height: 60px;
}
.redes{
    font-size: 60px !important;
    color: white; 
}
.textos{
    color: white;
}