.txts2 {
    font-weight: bold !important;
}

.text-decorator-none1 {
    text-decoration: none;
}

.img1 {
    background-image: url(https://imgur.com/XMgQgBf.jpg);
    background-repeat: no-reapet;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}